<?php

declare(strict_types=1);

namespace Drupal\{{ method_machine_name }}\Plugin\jsonrpc\Method;

use Drupal\Core\StringTranslation\TranslatableMarkup;
use Drupal\jsonrpc\Attribute\JsonRpcMethod;
use Drupal\jsonrpc\Attribute\JsonRpcParameterDefinition;
use Drupal\jsonrpc\Plugin\JsonRpcMethodBase;

/**
 * {{ description }}
 */
#[JsonRpcMethod(
  id: "{{ id }}",
  usage: new TranslatableMarkup("{{ description }}"),
  access: ["{{ permission }}"],
)]
class {{ class }} extends JsonRpcMethodBase {

  /**
   * {@inheritdoc}
   */
  public function execute(ParameterBag $params) {
    // @todo Add code to execute when the method is called.
  }

  /**
   * {@inheritdoc}
   */
  public static function outputSchema(): null {
    // @todo Provide the schema that describes the results of the RPC method.
    return NULL;
  }

}
